body {
    background-color: whitesmoke;
}

h1 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

a {
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 40px;
    padding: 5px;
    display: block;
    background-color: white;
}

